#button {
	background-color: #D1CBCB;
	height: 5em;
	width: 10em;
	font-size: 1em;
}

.menu a {
	text-decoration: none;
	color: black;
}

#loading-view {
	font-size: 2em;
}

#settings-view {
	font-size: 2em;
}

#home-view {
	font-size: 2em;
}

#leaderboard-view {
	font-size: 2em;
}

#play-view {
	font-size: 2em;
}